#stationList {
  font-size: 28px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#stations {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stationVessels {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stationVessels li {
  display: flex;
  flex-direction: row;
  margin-right: 0.5rem;
}

.stationVisits ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.linkRNLIStation {
  display: flex;
  flex-direction: column;
  font-size: 80%;
  align-items: center;
  min-width: 52px;
  flex-shrink: 999;
}

.stationExtendedInfo {
  display: flex;
  align-items: center;
}

.stationTitle {
  display: flex;
  font-size: 28px;
}

#stationList li {
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-color: lightgrey;
  border-top-style: solid;
  border-width: 1px;
}

.stationListing {
  border-bottom-color: #002663;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.emojiLink {
  text-decoration: none;
}

.stationName {
  flex-grow: 999;
  font-size: 22px;
  padding-left: 2px;
}

.webLink {
  padding-right: 0.2rem;
}

.pin {
  width: 1.5em;
  font-size: 0.5em;
}

body {
  font-family: sans-serif;
  background-color: #fafaff;
}

#title {
  font-size: 28px;
  background-color:#002663;
  color: white;
  border-left-color: #f28b00;
  border-left-style: solid;
  border-left-width: 5px;
}

.stationPhotos {
  display: flex;
  flex-direction: row;
}
.stationPhotosSide {
  display: flex;
  flex-direction: column;
}